:root{
    --main-bg-color:hsl(30, 54%, 90%);
    --text-color:hsl(30, 10%, 34%);
    --title-color:hsl(14, 45%, 36%);
    --h1-color: hsl(24, 5%, 18%);
    --bg-color-2:hsl(330, 100%, 98%);
    --bg-color: hsl(0, 0%, 100%);
    --border-radius: 24px;
    --border-radius-2: 12px;
    --padding: 2.5rem;
    --title-color-2:hsl(332, 51%, 32%);
    --margin-bottom: 32px;
    --margin-top: 32px;
    --font-title:'young-serif';
    --font-base:'Outfit';
    --margin: 2rem;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
    font-weight: 0 1000;
    font-display: swap;
  }
 @font-face {
    font-family: 'young-serif';
    src:url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
 } 
body{
    background-color: var(--main-bg-color);
}
main{
    background-color: var(--bg-color);
    width:50%;
    margin: 0 auto;
    border-radius: var(--border-radius);
}
.container{
    padding:var(--padding);
    font-family: var(--font-base);
}
.container img{
    width: 100%;
    border-radius: var(--border-radius-2);
    margin-bottom: 40px;
}
.title h1{
    color: var(--h1-color);
    margin-bottom: 24px;
    font-family: var(--font-title);
}
.title{
    margin-bottom: var(--margin-bottom);
}
.prep{
    background-color: var(--bg-color-2);
    padding: 1.5rem;
    border-radius: var(--border-radius-2);
    margin-bottom: var(--margin-bottom);
}
.prep h4{
    color: var(--title-color-2);
}
.prep li{
    color: var(--text-color);
}
.ingredients{
    margin-bottom: var(--margin-bottom);
    font-family: var(--font-base);
}
.instructions{
    margin-bottom: var(--margin-bottom);
    margin-top: var(--margin-top);
}
.nutritions{
    margin-top: var(--margin-top);
}
h2{
    color: var(--title-color);
    font-family: var(--font-title);

}
ul, ol{
    padding-left: 1rem;
}